<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BasicModel -->
      <package
            uri="www.example.org/basicModel"
            class="umlad2javacc.basicmodel.BasicModel.BasicModelPackage"
            genModel="model/BasicModel.genmodel"/>
   </extension>

</plugin>
