<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ActivityDiagram -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ActivityDiagram.presentation.ActivityDiagramModelWizardID"
            name="%_UI_ActivityDiagramModelWizard_label"
            class="ActivityDiagram.presentation.ActivityDiagramModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ActivityDiagramModelFile.gif">
         <description>%_UI_ActivityDiagramModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ActivityDiagram -->
      <editor
            id="ActivityDiagram.presentation.ActivityDiagramEditorID"
            name="%_UI_ActivityDiagramEditor_label"
            icon="icons/full/obj16/ActivityDiagramModelFile.gif"
            extensions="activitydiagram"
            class="ActivityDiagram.presentation.ActivityDiagramEditor"
            contributorClass="ActivityDiagram.presentation.ActivityDiagramActionBarContributor">
      </editor>
   </extension>

</plugin>
